#buscador{
    width: 40%;
    height:4%;
    position: fixed;
    top: 10%;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    left: 0;
}

#buscador form{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;

}
select{
    width: 60%;
    background-color: white;
}

.contenedorInputs {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#buscador  input[type=text]{
    border: 1px solid #d3d3d3;
    border-radius: 10px;

    height:30px;
    padding: 10px;
    margin-left: 4px;

}

#buscador  input[type=submit] {
    width:10%;
    padding: 16px 8px;
    margin: 10px;

}

.categorias{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    align-items: center;

}

.buscadorTitulo{
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.buscadorEmpresa{
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.boton{
    width: 100%;
    display: flex;
    height: 10%;
    justify-content: flex-end;
    align-items: center;
}
.abrirFiltros{
    position: relative;
    width: 45px;
    height: auto;
    top:0%;
    left: 0%;
    margin:10px;
}
.abrirFiltros:hover{
    cursor: pointer;
}
.abrirFiltros img{
    width: 45px;
    height: auto;
}
