@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';

}


:root{
    --thundercode-primary-color: #f3a304;
    --thundercode-secondary-color: #333333;
    --thundercode-tertiary-color: #e6e6e6;
}

input[type=text], input[type=password]{
    outline: none;
    border:0px;
    border-bottom: 1px solid #333333;
    min-width: 150px;
    max-width: 300px;
    height: 35px;
    width: 230px;
}


input[type=submit]:hover{
    cursor: pointer;
}


a{
    text-decoration: none;
    font-size: 10px;
    color: black;
}

a:active{
    color: #cca000
}

a:hover{
    color: #fcb500;
    cursor: pointer;
}

a:visited{
    color: #434343;
}




